<div class="header-container">
  <div class="logo-container">
    <a href="#" id="club-logo">
      <img id="logo" alt="Logo" src="../../assets/img/logo.png">
    </a>
  </div>
  <nav class="menu-container">
    <ul class="menu">
      <li><a href="" class="menu-item">Le Club</a></li>
      <li><a href="" class="menu-item">Nouvelles</a></li>
      <li><a href="" class="menu-item">Calendrier</a></li>
      <li><a href="" class="menu-item">Equipes</a></li>
      <li><a href="" class="menu-item">Photos</a></li>
      <li><a href="" class="menu-item">Contactez-nous</a></li>
    </ul>
  </nav>
  <button type="button" class = "mobile-menu-btn">
    <span class="iconBar"></span>
    <span class="iconBar"></span>
    <span class="iconBar"></span>
  </button>
  <div class="session-container">
    <a href="#" id="avatar"><span></span></a>
  </div>
</div>
