<div class="login-container">
  <div class="login-logo">
    <img alt="Logo" src="../assets/img/logo.png">
  </div>
  <div class="login-options">
    <div class="user">
      <md-icon class="icon" dividerColor="white">person</md-icon>
      <md-input-container class="user-input">
        <input md-input placeholder="User">
      </md-input-container>
    </div>
    <div class="user">
      <md-icon class="icon">lock</md-icon>
      <md-input-container class="user-input">
        <input md-input placeholder="Password">
      </md-input-container>
    </div>
  </div>
</div>
