<div class="login-container">
  </div><div class="login-logo">
    <img alt="Logo" src="../assets/img/logo.png">
  </div>
  <div class="login-options">
    <div class="user-name">
      <md-icon>person</md-icon>
      <md-input-container class="example-full-width">
        <input md-input placeholder="User">
      </md-input-container>
    </div>
    <div class="user-password">
      <md-icon>lock</md-icon>
      <md-input-container class="example-full-width">
        <input md-input placeholder="Password">
      </md-input-container>
    </div>
  </div>
</div>
