:host {
  display: block;
  position: relative;
  background: #000;
  height: 100vh;
  overflow: hidden;
}

:host #img-slider {
  display: block;
  position: relative;
  height: 100%;
  margin: 0;
}

:host #img-slider .slide {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  width: auto;
  height: auto;
}

:host h3 {
  display: block;
  position: absolute;
  bottom: 10%;
  left: 10%;
  display: block;
  color: white;
  font-size: 400%;
  font-weight: bold;
}
