@import url(../node_modules/primeng/resources/themes/omega/theme.css);
@import url(../node_modules/primeng/resources/primeng.min.css);
@import url(./assets/style/font-awesome/css/font-awesome.min.css);
* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  font-family: 'Roboto', sans-serif;
}
